
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.epicshaggy.sharing.capacitorsharing">

    <application>
      <provider
          android:name="com.epicshaggy.sharing.SharingProvider"
          android:authorities="com.epicshaggy.sharing.capacitorsharing.fileprovider"
          android:grantUriPermissions="true"
          android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/filepaths" />
      </provider>
    </application>
  </manifest>
  